@(sequence: String, laneSize: String, result: Map[String, String])
@laneSaizeByInteger() = @{
	(laneSize) toInt
}
@import helper._

@main("레인배정_관리자모드") {

    <h3>레인배정_관리자모드</h3>
        <form name="" action="@routes.RandomApp.update" method="post">
        	<input type="hidden" name="sequence" value="@sequence" />
        	<input type="hidden" name="laneSize" value="@laneSize" />
            <label>old시드 </label>
            <select name="oldSeed" style="width:100px">
            	<option value="1">1</option>
            	<option value="2">2</option>
            	<option value="3">3</option>
            	<option value="4">4</option>
            </select>
            <label>new시드 </label>
            <select name="seed" style="width:100px">
            	<option value="1">1</option>
            	<option value="2">2</option>
            	<option value="3">3</option>
            	<option value="4">4</option>
            </select>
            <br />
            <label>old레인 </label>
            <input type="text" name="lane"/><br />
            <label>이     름 </label>
            <input type="text" name="name"/><br />
            <input type="submit" class="btn" value="수정"/> 
        </form>
        <br/>
        <table>
        	<tr class="title">
				<th></th>
               	@for(i <- 1 to laneSaizeByInteger()) {
                	<th>@i 레인</th>
                }
            </tr>
			@for(i <- 1 to 4) {
				<tr>
	                <th>@i 시드</th>
	                @for(j <- 1 to laneSaizeByInteger()) {
	                	<td>@result.get(i + "_" + j)</td>
	                }
                </tr>
			}
        </table>
	<script type="text/javascript">
	</script>
}
